################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs
/.vs/slnx.sqlite

# Local Settings
env/
/wopas-git.pyproj
/wopas-git.pyproj.user
/wopas-git.sln
/__pycache__
learn/php_object_returned_by_plugin_info.txt
.vscode/launch.json
wopas/wp-plugins.json
