[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2022.12.7"
chardet = "==3.0.4"
idna = "==2.5"
requests = ">=2.19.1"
urllib3 = ">=1.24.1"

[requires]
python_version = "3.7"
